html {
    background-color: #c3c3c3;
}


header {
    font-family: 'Halant', serif;
}



.searchresults .card{
    min-height: 700px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: #e6e6e6;

}

.searchresults .card:hover {
    transform: scale(1.05);
}

.maincontent .card {
    min-height: 500px;
    background-color: #e6e6e6;
}
.poster-search{
    height: 100%;
    max-width: 300px;
    margin: auto;
}

.info-container p {
    font-weight: bold;
}
.info-container span {
    font-weight: normal;
}

.image img {
    height: 500px;
    object-fit: cover;
    border: 2px solid silver;
    border-radius: 4px;
}

.mainImage {
    /* float: left; */
}

.mainImage img {
    height: 400px;
    max-width: 300px;
    object-fit: cover;
}

.button-container {

}

.info-container {
   width: 60%;
   padding: 2rem;
}

.videos {
height: 100%;
}

iframe{

    width: 100%;
    height: calc(85%);
}




/* REMOVE WHEN USING YOUTUBE */
div>img{
    object-fit: cover;
    width:100%;
    height:80%;
}

.favorite {
    cursor: pointer;
    
}

.favoriteContainer {
   width: 100%;
   text-align: end;

}
.favorite:hover {
    transform: scale(1.00);
}

.info-container p {
    margin: 10px 0px;
}
