.searchresults .card{
    min-height: 700px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}

.searchresults .card:hover {
    transform: scale(1.05);
}

.maincontent .card {
    min-height: 500px;
}
.poster-search{
    height: 100%;
    max-width: 300px;
    margin: auto;
}

.info-container p {
    font-weight: bold;
}
.info-container span {
    font-weight: normal;
}

.image img {
    height: 500px;
    object-fit: cover;
}

.mainImage {
    /* float: left; */
}

.mainImage img {
    height: 400px;
    max-width: 300px;
    object-fit: cover;
}

.button-container {

}

.info-container {
   width: 60%;
   padding: 2rem;
}

.videos {
height: 100%;
}

iframe{

    width: 100%;
    height: calc(85%);
}

.clearButton {
    margin-top: 10px;
}




/* REMOVE WHEN USING YOUTUBE */
div>img{
    object-fit: cover;
    width:100%;
    height:80%;
}