*{
    box-sizing: border-box;
}

html {
    background-color: #c3c3c3;
}

header {
    font-family: 'Halant', serif;
}

/* Back and favorite list button positions */
header>div{
    position: relative;
}


.backButton {
    position: absolute;
    top: 5px;
    left: 10px;
}
.favorites {
    position: absolute;
    top: 5px;
    right: 10px;
}

/* .previous {
    position: absolute;
    left: 10px;
    top: 50%;
} */

/* Search bar bellow back and favorite buttons */
.searchBar{
    margin:3rem 0.1rem;
}

/* Cards for search results */
.searchresults .card{
    min-height: 700px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: #e6e6e6;
}
.searchresults .card:hover {
    transform: scale(1.05);
}

/* All posters */
.image img {
    max-width: 300px;
    border: 2px solid silver;
    border-radius: 4px;
}

/* Poster for search results */
.poster-search {
    height: 500px;
    max-width: 300px;
    margin: auto;
}

/* Card for main content */
.maincontent .card {
    min-height: 500px;
    background-color: #e6e6e6;
}

/* Movie detail poster */
.mainImage img {
    height: 400px;
    margin:auto;
    object-fit: cover;
}

/* Movie details */
.info-container {
   padding: 2rem;
}
.info-container p {
    font-weight: bold;
    margin: 10px 0px;
}
.info-container span {
    font-weight: normal;
}

/* Favorite icon */
.favoriteContainer {
   width: 100%;
   text-align: end;
}
.favorite {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.favorite:hover {
    transform: scale(1.05);
}

/* Youtube */
iframe{
    width: 100%;
    height: calc(85%);
}

/* Favorites list */
.modal p {
    cursor: pointer;
    width: fit-content;
    text-decoration: underline;
    margin: 10px auto;
    font-size: larger;
}
.movieInfoContainer{
    display:block;
}

@media screen and (min-width:500px) {
    .movieInfoContainer{
        display:flex;
        justify-content: space-around;
    }
    .info-container {
        width: 60%;  
    }
}

@media screen and (min-width:769px) {
    .searchBar{
        margin-top:2rem 0.1;
    }
    .movieInfoContainer{
        display:block;
    }
    .mainImage img {
        margin: auto;
    }
    .info-container {
        width: 100%;  
    }
}
@media screen and (min-width:1000px) {
    .movieInfoContainer{
        display:flex;
        justify-content: space-around;
    }
    .info-container {
        width: 60%;  
    }
}










